.navBar {
  margin-top: -40px;
}

.navBarUl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navBarLi {
  float: left;
}

.navBarLink {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBarLink:hover {
  background-color: #111;
  color: white;
}