
.card {
  width: 350px;
  border-radius: 50px;
  background: #eeeeee;
  box-shadow: 20px 20px 60px #cacaca,
    -20px -20px 60px #ffffff;
  border: none;
}

.bi {
  color: #dc3545;
}

form-control {
  width: 400px !important;
  margin-left: -50px;
}

label {
  margin-left: -50px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

main {
  display: block;
}

*,
::after,
::before {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.buttonSignUp {
  margin-top: 10px;
}

.error {
  color: #dc3545;
}

#signUpButton {
  width: 400px !important;
  margin-left: -50px;
}